h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
h5 {
    color: green;
    font-size: xx-large;
}
button {
    background-color: aqua;
    color: red;
    border-radius: 25%;
    border: solid 4px black;
}

input {
    background-color: darkblue;
    color: white;
}  